.container {
    display: flex;
    border: 1px solid red;
    background-color: beige;
    height: 50px;
    color: brown;
    justify-content: right;  

    a {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
   
} 

