.container {
    display: flex;
    background-color: #042940;
    color: white;
    justify-content: right;

    a{
        margin: 10px 10px;
        color: #9FC131; 
        font-size: 20px;
        background: none;
        

        &:hover {
            color: #DBF227;
            transition: 0.5s;
            transform: scaleX(1.2);
        }
        
            

    } 
} 

