.btn {
    align-items:center;
    background-color: rgb(57 59 67);
    border-radius:4px;
    color:rgb(229 248 118);
    display:flex;
    font-size: 12.8px;
    justify-content:center;
    line-height:19.2px;
    padding:10.24px 0px;
    text-align:left;
}